@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
    height: 100%;
    background-color: #f5f5f5;
}

.login__section {
    margin-top: 50%;
}

.namebox {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-color: #8136d6;
    display: flex;
    justify-content: center;
    align-items: center;

}

.myname::before {
    color: #fff;
    content: "A";
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2px;
    font-family: 'East Sea Dokdo', fantasy;
}